.col-lg-3{
  position: relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
}
.container{
  padding-right:15px
  ;padding-left:15px;
  margin-right:auto;
  margin-left:auto;}
body{
  background-color: rgb(206, 213, 230);

}
img{border:0;}
